.vanillaVIC3/**

E&F/**
!E&F/сводка_ef.md

Morgenrote/**
!Morgenrote/сводка_mr.md

PowerBlocksExpanded/**
!PowerBlocksExpanded/сводка_pbe.md

PSC/**
!PSC/сводка_psc.md

TechRes+Kuromi/**
!TechRes+Kuromi/сводка_tr_kai.md

TheGreatRevision/**
!TheGreatRevision/сводка_tgr.md

Victorian Century/**
!Victorian Century/сводка_vc.md